.searchLobby-page{
    display: flex;
    padding-top: 10rem;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: auto;

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: rgba($color: #2f2f2f, $alpha: 0.7);
        width: min(80%, 40rem);
        min-height: 20rem;
        border-radius: 3rem;

        div {
            margin: 0 2rem;
            display: flex;
            gap: 1rem;
            align-items: center;
        }
        label {
            font-size: 1.6rem;
        }
        input {
            outline: none;
            background: transparent;
            border: 1px solid #AAA;
            padding: 0.5rem;
            font-size: 1.6rem;
        }
    }

    .separator{
        font-size: 14px;
        color: #a8a8b3;
        width: min(80%, 70rem);
        margin: 24px 0;
        display: flex;
        align-items: center;

        &::before{
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-right: 8px;
        }

        &::after{
            content: '';
            flex: 1;
            height: 1px;
            background: #a8a8b3;
            margin-left: 8px;
        }
    }

    .searchLobby-div{
        display: flex;
        flex-direction: column;
        background: rgba($color: #2f2f2f, $alpha: 0.7);
        width: min(80%, 70rem);
        min-height: 20rem;
        border-radius: 3rem;
        .searchLobby-top {
            margin: 2rem;
            align-self: center;
            width: 90%;
            display: flex;
            justify-content: space-between;
            gap: 3rem;

            input {
                // background: rgba(100, 100, 100, 0.8);
                outline: none;
                background: transparent;
                border: 1px solid #AAA;
                flex: 1;
                padding: 0.5rem;
                font-size: 1.6rem;
            }
            button{
                cursor: pointer;
                background: transparent;
            }
        }

        .searchLobby-games {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2.4rem;
        }
    }

    .searchLobby-noRooms {
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .searchLobby-page {
        width: 100%;
    }
  }