.leaderboard{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    min-height: 100vh;
    .leaders{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .leaderboard {
        .leaders{
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
        }
        :nth-child(1){
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}