.title {
    position: relative;
    font-size: 4.8rem;
    text-align: center;
    font-family: 'Roboto';
    background-clip: text;
    color: transparent;
    overflow: hidden;
    background-image: linear-gradient(90deg, red, red 33%, 45%, rgb(255, 155, 0), 55%, red 67%, red);
    background-size: 325%;
    animation: bg-animation 10s infinite linear;

    &.ready{
        background-image: linear-gradient(45deg, #F10, #0064FF 50%, #00AAFF);
        background-size: 175%;
        animation: none;
    }
    &.style{
        font-family: 'Syne Tactile', 'Roboto', sans-serif;
    }

}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}