.lobby-page{
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    display: flex;
    margin: 2rem auto;

    min-height: 90vh;
    width: 90vw;
    box-shadow: 0 0 2rem 0.5rem #000000;

    .lobby-left{
        flex: 4;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(90deg, #900000, 70%, #1E1E1E);
        h2{
            font-size: 3.2rem;
            font-family: 'Syne Tactile';
            padding: 1.5rem;
            border-top: 1px solid #AAA;
            border-bottom: 1px solid #AAA;
        }
    }
    .lobby-chat{
        flex: 6;
        background: #1E1E1E;
    }

    .lobby-left-upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        .jogo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            img {
                height: 2.4rem;
            }
            h1 {
                font-size: 2.4rem;
            }
        }
    }

    .lobby-quitLink{
        display: flex;
        align-items: center;
        text-decoration: none;
        background: transparent;
        img {
            height: 3.2rem;
        }
        svg {
            height: 3rem;
            width: 4rem;
            path{
                height: 2rem;
                width: 2rem;
                transition: 1s;
                fill: white;
            }
        }
        span{
            transition: 1s;
            font-family: 'Poppins';
            color: white;
            font-weight: 700;
            font-size: 3.2rem;
        }

        &:hover {

            span {
                color:red;
            }

            svg > path {
            fill: red;
            }
        }
    }

    .players{
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 1rem;
        margin: 1.5rem 1rem;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .lobby-chat{
        z-index: 1;
        position: relative;
        display: grid;
        padding: 0;
        max-height: 100%;
        grid-template-rows: max(80vh, 50rem) 5rem ;
        gap: 2rem;

        .backgroundMessagesImg{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            opacity: 0.6;
            width: 80%;
            z-index: -1;          
        }

        .lobby-title{
            padding: 0 2rem;
            align-self: center;
            font-size: 3rem;
        }

        .lobby-messages{
            display: flex;
            height: 100%;
            flex-direction: column;
            gap: 2rem;
            overflow-y: scroll;
            scroll-margin: 2rem;

            
        }

        .send-message {
            display: flex;

            input {
                margin-left: 2rem;
                flex: 1;
                padding: 1rem;
                color: black;
                border-radius: 2rem;
            }
            button {
                padding: 0 2rem;
                transition: 0.5s;
                background: transparent;
                cursor: pointer;
                svg {
                    width: 4rem;
                    path {
                        transition: 0.5s;
                        fill: #00AAFF;
                    }
                }

                &:hover{
                    svg > path {
                        fill: #00FFFF
                    }
                }
            }
        }
    }

    .warning {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        h1{
            padding-top: 5rem;
            width: 100%;
            text-align: center;
            font-size: 5rem;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
        }
    }
}