.homepage{
    height: 100vh;
    width: 80vw;
    margin: 0 auto;

    .aside {
        display: flex;
        height: 100%;
        align-items: center;

        main {
            flex: 4;
        }

        aside {
            flex: 6;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 72rem;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;

        h2 {
            z-index: 1;
            position: relative;
            font-size: 4.8rem;
            text-align: center;
            font-family: 'Syne Tactile';
            background-clip: text;
            color: transparent;
            overflow: hidden;
            background-image: linear-gradient(90deg, red, red 33%, 45%, rgb(255, 155, 0), 55%, red 67%, red);
            background-size: 325%;
            animation: bg-animation 10s infinite linear;
        }
        
    }

}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}