.cards {
    display: flex;
    align-items: flex-end;
    gap: 0.2rem;

    .card-set{
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;

        &.minimize-space{
            padding-bottom: 1.4rem;
        }
        
        .position-Card {
            height: 2.8rem;
            &.minimize-space{
                height: 1.4rem;
            }
        }

    }
}

@media screen and (max-height: 700px) {
    
    .card-set {
        .position-Card {
            height: 1.4rem;
        }
    }

}